<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Tutor</h2>
</div>

<form action="/add-tutor" method="POST">

  <label for="name"><b>Name</b></label>
  <input type="text" placeholder="Tutor Title" name="name">

  <label for="tutions"><b>Tutions</b></label> 
  <input type="number" placeholder="Number of Tutions" name="tutions">
  <br>

  <label for="institution"><b>Institution</b></label>
  <input type="text" placeholder="Tutor's Institution" name="institution">

  <input type="submit" value="Add" class="btn">

</form>