<body>
  <div class="container-login">
    <form id="signInForm" action="/admin" method="POST">
      <h3>Admin Log In</h3>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">
      <input type="submit" value="Login" class="btn">
    </form>
  </div>
</body>