<header class="header">
    <a href="/" class="header__logo">QTutor</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="https://www.facebook.com/qtutor360">About</a>
            </li>
            <li>
                <a href="https://www.facebook.com/shamim2601">Contact</a>
            </li>
        </ul>
    </nav>
</header>