<header class="header">
    <a href="/" class="header__logo">QTutor</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a class="btn-home" href="https://www.facebook.com/qtutor360">FB Page</a>
            </li>
            <li>
                <a class="btn-home" href="tel:+8801734566352">Call Now</a>
            </li>
            <li>
                <a class="btn-home" href="https://wa.me/+8801765749339">WhatsApp</a>
            </li>
        </ul>
    </nav>
</header>