<header class="header">
    <a href="/dashboard" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout" class="btn">
            Logout
        </a>
    </div>
</header>