<header class="header">
    <a href="https://www.facebook.com/qtutor360" class="header__logo">Vitti360</a>

    <span>
        <nav class="header__nav">
            <ul>
                <li>

                </li>
                <li>

                </li>
                <li>
                    
                </li>
            </ul>
        </nav>
    </span>
</header>