<header class="header">
  <a href="/" class="header__logo">Vitti360</a>
  <nav class="header__nav">
    <ul>
      <li><a href="/">জিজ্ঞাসা</a></li>
      <li><a href="/tutors">Tutors</a></li>
      <li><a href="/ai-qa">AI QA</a></li>
      <li><a href="/job-prep">Job Prep</a></li>
    </ul>
  </nav>
</header>