<header class="header">
    <a href="/dashboard" class="header__logo">Admin Panel</a>

    <span>
        <nav class="header__nav">
            <ul>
                <li>
                    <a class="btn-home" href="/">Home</a>
                </li>
                <li>
                    <a class="btn-home" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </span>

</header>