
<div class="author">
    <h1 class="author__heading"><strong>QTutor</strong></h1>
    <p class="author__body"><strong><i>Qualified Tutors from BUET | DU | DMC | Cadet</i></strong></p>
</div>


<section class="articles">
    <h2 class="articles__heading">All the Tutors</h2>

    <a class="student_btn" href="https://www.facebook.com/qtutor360"><h4>ফেসবুক পেজ ফলো করুন</h4></a>
</section>