<div class="author">
  <h1 class="author__heading"><strong>QTutor</strong></h1>
  <p class="author__body">Qualified Tutors from  <strong><i>BUET | DU | Medical | Cadet</i></strong></p>
</div>


<section class="articles">
  <h2 class="articles__heading">All the Tutors</h2>

  <table class="article-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Institution</th>
        <th>Total Tutions</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(tutor=> { %>
        <tr>
          <td>
            <%= tutor.name %>
          </td>
          <td>
            <%= tutor.institution %>
          </td>
          <td>
            <%= tutor.tutions %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>

</section>